* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'alpha_echoregular';
    src: url('alpha_echo-webfont.woff');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: 'alpha_echoregular';
}

header {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
    color: #555555;
}

h1 {
    font-size: 5em;
}

div{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;    
}

button {
    border-radius: 10%;
    width: 200px;
    height: 100px;
    font-size: 2em;
    color: white;
    margin-bottom: 15%;
}
#red {
    background-color: #BF2D2D;
}
#blue    {
    background-color: #2D4B82;
}

#add, #reset {
    background-color: #8E0D3F;
}

aside {
    background-color: #555555;
    width : 200px;
    height: 200px;
    border-radius: 0;
    border: 5px dotted black;
    transition: 0.75s all;
    /* display: flex;
    flex-direction: row; */
}


footer {
    margin-top: 10%;
    background-color: #E5E5E5;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5em;
}